.background{
  position: absolute;
  z-index: -100;
}
.i-left{
  top: 0;
  left: 0;
}
.ii-right{
  top: 1352px;
  right: 0;
}
.iii-left{
  top: 2830px;
  left: 0;
}
.iiii-right{
  bottom: 0;
  right: 0;
}