@media (max-width: 660.5px){
.subscribe {
  width: 100vw;
  background-image: url("./images/backgrounds/subscribe.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  align-items: center;
  border-radius: 32px;
 
}
.subscribe__block--central {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 90vw;
  height: 90vw;
  gap: 10vw;
   
}

.subscribe__block--central-maintitle {
  // width: 424px;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  text-transform: capitalize;
  color: #1b1c57;
}
.subscribe__block--central-emailinput {
  // height: 13vw;
  width: 90vw;

  border-radius: 32px;
  display: flex;
  justify-content: space-between;
  padding: 1vw ;
  align-items: center;
// border: 1px solid red;
  background-color: #ffffff;
}

.subscribe__block--central-emailinput-input {
  width: 45vw;
  font-weight: 600;
  font-size: 4vw;
  line-height: 5vw;
  color: #888b97;
  border: none;
  // border: 1px solid red;

  &:focus {
    border: none;
  }
}

.subscribe__block--left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10vw;
  height: 100%;
  & div {
    display: flex;
    flex-direction: column;
    & img {
      min-width: 38px;
      max-width: 81px;
    }
  }
}

.subscribe__block--right {
  display: flex;
  justify-content: center;
  gap: 10vw;
  height: 100%;
  & div {
    display: flex;
    flex-direction: column;
    & img {
      min-width: 38px;
      max-width: 81px;
    }
  }
}

.subscribe__block--left-leftcolumn {
  padding-top: 5vw;
  justify-content: flex-start;
  gap: 10vw;
}
.subscribe__block--left-rightcolumn {
  padding-top: 5vw;
  justify-content: flex-start;
  gap: 10vw;
}
.subscribe__block--right-leftcolumn {
  padding-top: 5vw;
  justify-content: flex-start;
  gap: 10vw;
  align-items: flex-end;
}
.subscribe__block--right-rightcolumn {
 padding-top: 5vw;
  justify-content: flex-start;
  gap: 10vw;
  align-items: center;
}
}
// --------------------------------
@media (min-width: 661px){
.subscribe {
  width: 84%;
  min-width: 1200px;
  height: 350px;
  background-image: url("./images/backgrounds/subscribe.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
  margin: 0 auto;
  padding: 0 80px 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 32px;
  
}
.subscribe__block--central {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 500px;
  padding: 65px 0;
  gap: 32px;
 
}

.subscribe__block--central-maintitle {
  width: 424px;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  text-transform: capitalize;
  color: #1b1c57;
}
.subscribe__block--central-emailinput {
  height: 56px;
  width: 496px;

  border-radius: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2px 0 24px;
  background-color: #ffffff;
}
.subscribe__block--central-emailinput-label {
  width: 26px;
  height: 26px;
}
.subscribe__block--central-emailinput-input {
  width: 303px;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #888b97;
  border: none;
  &:focus {
    border: none;
  }
}

.subscribe__block--left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 55px;
  height: 100%;
  & div {
    display: flex;
    flex-direction: column;
    & img {
      min-width: 38px;
      max-width: 81px;
    }
  }
}

.subscribe__block--right {
  display: flex;
  justify-content: center;
  gap: 50px;
  height: 100%;
  & div {
    display: flex;
    flex-direction: column;
    & img {
      min-width: 38px;
      max-width: 81px;
    }
  }
}

.subscribe__block--left-leftcolumn {
  padding-top: 38px;
  justify-content: flex-start;
  gap: 34px;
}
.subscribe__block--left-rightcolumn {
  padding-top: 51px;
  justify-content: flex-start;
  gap: 31px;
}
.subscribe__block--right-leftcolumn {
  padding-top: 44px;
  justify-content: flex-start;
  gap: 29px;
  align-items: flex-end;
}
.subscribe__block--right-rightcolumn {
  padding-top: 105px;
  justify-content: flex-start;
  gap: 40px;
  align-items: center;
}
}